* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}
body {
  font-family: vazir;
  a {
    transition: all 0.3s ease-in-out;
  }
}

a {
  text-decoration: none;
  color: $black;
}
li {
  list-style: none;
}
img {
  max-width: 100%;
  display: block;
  height: auto;
}


main {
  padding: 0  10px 30px;
}
// section{
//   box-shadow: 0px 1px 3px 0px rgba($color: #000, $alpha: 0.5);
// }
.wrapper {
  max-width: 1200px;
  margin: 0 auto;
}
.container::after {
  clear: both;
  display: block;
  content: "";
}

@font-face {
  font-family: vazir;
  src: url("../fonts/Vazir.ttf");
  src: url("../fonts/Vazir.woff");
  src: url("../fonts/Vazir.woff2");
}
@font-face {
  font-family: vazir-bold;
  src: url("../fonts/Vazir-Bold.ttf");
  src: url("../fonts/Vazir-Bold.woff");
  src: url("../fonts/Vazir-Bold.woff2");
}

.res{
  display: block;
  img{
    width: 100%;
    height: auto;
    display: block;
  }
}