* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}
body {
  font-family: vazir;
}

a {
  text-decoration: none;
}
li {
  list-style: none;
}
img {
  max-width: 100%;
  display: block;
  height: auto;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
}
.container::after {
  clear: both;
  display: block;
  content: "";
}
.more {
  position: absolute;
  left: 0;
  bottom: 0;
}
.more i {
  text-align: left;
  font-size: 1.3em;
  color: #ff0000;
}
@font-face {
  font-family: vazir;
  src: url("../fonts/Vazir.ttf");
  src: url("../fonts/Vazir.woff");
  src: url("../fonts/Vazir.woff2");
}
@font-face {
  font-family: vazir-bold;
  src: url("../fonts/Vazir-Bold.ttf");
  src: url("../fonts/Vazir-Bold.woff");
  src: url("../fonts/Vazir-Bold.woff2");
}
