@import url(../node_modules/font-awesome/css/font-awesome.min.css);
@import url(../node_modules/font-awesome/css/font-awesome.min.css);
@import url(../node_modules/font-awesome/css/font-awesome.min.css);
@import url(../node_modules/font-awesome/css/font-awesome.min.css);
.search-inp {
  width: 200px;
  height: 40px;
  display: none;
  font-family: vazir;
  font-size: 1em;
  background-color: #949090;
  position: absolute;
  padding: 5px 10px;
  z-index: 1000; }
  .search-inp::placeholder {
    color: #dbd3d3; }

.more {
  position: absolute;
  left: 15px;
  bottom: 10px; }
  .more i {
    text-align: left;
    font-size: 1em;
    color: #b50000; }
  .more i {
    color: #098b54; }

* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box; }

body {
  font-family: vazir; }
  body a {
    transition: all 0.3s ease-in-out; }

a {
  text-decoration: none;
  color: #000; }

li {
  list-style: none; }

img {
  max-width: 100%;
  display: block;
  height: auto; }

main {
  padding: 0  10px 30px; }

.wrapper {
  max-width: 1200px;
  margin: 0 auto; }

.container::after {
  clear: both;
  display: block;
  content: ""; }

@font-face {
  font-family: vazir;
  src: url("../fonts/Vazir.ttf");
  src: url("../fonts/Vazir.woff");
  src: url("../fonts/Vazir.woff2"); }

@font-face {
  font-family: vazir-bold;
  src: url("../fonts/Vazir-Bold.ttf");
  src: url("../fonts/Vazir-Bold.woff");
  src: url("../fonts/Vazir-Bold.woff2"); }

.res {
  display: block; }
  .res img {
    width: 100%;
    height: auto;
    display: block; }

.search-inp {
  width: 200px;
  height: 40px;
  display: none;
  font-family: vazir;
  font-size: 1em;
  background-color: #949090;
  position: absolute;
  padding: 5px 10px;
  z-index: 1000; }
  .search-inp::placeholder {
    color: #dbd3d3; }

.more {
  position: absolute;
  left: 15px;
  bottom: 10px; }
  .more i {
    text-align: left;
    font-size: 1em;
    color: #b50000; }
  .more i {
    color: #098b54; }

* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box; }

body {
  font-family: vazir; }
  body a {
    transition: all 0.3s ease-in-out; }

a {
  text-decoration: none;
  color: #000; }

li {
  list-style: none; }

img {
  max-width: 100%;
  display: block;
  height: auto; }

main {
  padding: 0  10px 30px; }

.wrapper {
  max-width: 1200px;
  margin: 0 auto; }

.container::after {
  clear: both;
  display: block;
  content: ""; }

@font-face {
  font-family: vazir;
  src: url("../fonts/Vazir.ttf");
  src: url("../fonts/Vazir.woff");
  src: url("../fonts/Vazir.woff2"); }

@font-face {
  font-family: vazir-bold;
  src: url("../fonts/Vazir-Bold.ttf");
  src: url("../fonts/Vazir-Bold.woff");
  src: url("../fonts/Vazir-Bold.woff2"); }

.res {
  display: block; }
  .res img {
    width: 100%;
    height: auto;
    display: block; }

@media screen and (min-width: 850px) {
  .col-right {
    width: 65%;
    float: right;
    padding-left: 15px; } }

.col-right .tools {
  padding: 10px;
  display: block;
  font-size: 1.1em;
  text-align: center;
  border-bottom: 1px solid #888181; }
  .col-right .tools .tools-content {
    padding: 10px 0; }
    @media screen and (min-width: 850px) {
      .col-right .tools .tools-content {
        float: right;
        font-size: 0.8em; } }
    .col-right .tools .tools-content span {
      padding-left: 20px; }
    .col-right .tools .tools-content a {
      display: inline-block;
      padding-left: 10px; }
  .col-right .tools .time {
    text-align: center;
    padding: 10px 0;
    font-size: 1.1em; }
    @media screen and (min-width: 850px) {
      .col-right .tools .time {
        float: left;
        font-size: 0.8em; } }

.col-right .first-content {
  margin-top: 16px; }
  .col-right .first-content h2 a {
    padding: 0 10px;
    font-size: 0.9em; }
  .col-right .first-content .first-section-lead {
    background-color: #fff;
    border-radius: 10px;
    border-right: 3px solid #a72772;
    padding: 25px;
    margin: 12px 0;
    font-size: 0.9em; }
  .col-right .first-content img {
    padding: 12px 0; }
  .col-right .first-content .echo-details {
    padding: 10px 0; }
    .col-right .first-content .echo-details a {
      color: #fff;
      background-color: #a72772;
      border-radius: 5px;
      padding: 3px 5px; }
    .col-right .first-content .echo-details p {
      font-size: 0.9em; }
    .col-right .first-content .echo-details .pic-echo {
      width: 80%;
      margin: 16px auto;
      padding: 0; }
      .col-right .first-content .echo-details .pic-echo img {
        padding: 0;
        margin: 0 auto; }
    .col-right .first-content .echo-details audio {
      width: 100%;
      margin: 10px 0; }
    .col-right .first-content .echo-details video {
      width: 100%; }
    .col-right .first-content .echo-details table {
      width: 100%;
      text-align: center;
      border-collapse: collapse;
      margin: 30px 0;
      font-size: 0.9em; }
      .col-right .first-content .echo-details table thead {
        background-color: #9e1d23;
        color: white; }
      .col-right .first-content .echo-details table tr:nth-child(even) {
        background-color: #cf9b9e;
        color: white; }
      .col-right .first-content .echo-details table td {
        padding: 7px 10px; }
    .col-right .first-content .echo-details li {
      padding: 10px 0; }
      .col-right .first-content .echo-details li a {
        color: #a72772; }
    .col-right .first-content .echo-details li i {
      font-size: 0.6em;
      float: right;
      padding-top: 7px;
      padding-left: 7px; }
      .col-right .first-content .echo-details li i a {
        display: inline-block; }

.col-right .read-more {
  padding: 25px 0; }
  .col-right .read-more .read-more-title img {
    width: 30px;
    padding: 0;
    float: right; }
  .col-right .read-more .read-more-title h3 {
    display: inline-block;
    font-family: vazir;
    color: #b50000;
    font-weight: normal;
    font-size: 0.9em; }
  .col-right .read-more .read-more-lead {
    margin-right: 25px;
    padding-right: 25px;
    border-right: 2px solid #b50000; }
    .col-right .read-more .read-more-lead a {
      padding: 5px 0;
      font-size: 0.9em;
      color: #000 !important;
      background-color: transparent;
      font-weight: normal; }
    .col-right .read-more .read-more-lead li {
      padding: 4px; }

.col-right .tags {
  background-color: #a72772;
  border-radius: 30px;
  display: inline-block;
  padding: 0 15px;
  margin: 12px 0; }
  .col-right .tags a {
    color: #fff !important;
    font-size: 0.7em; }
  .col-right .tags i {
    padding-left: 5px; }

.col-right .short-link .short-link-right {
  text-align: center;
  font-size: 0.9em;
  border: 1px solid #d4d4d4;
  border-radius: 15px;
  padding: 5px;
  margin: 10px 0; }
  @media screen and (min-width: 550px) {
    .col-right .short-link .short-link-right {
      width: 65%;
      margin-top: 25px;
      text-align: left;
      float: right; } }
  .col-right .short-link .short-link-right i {
    display: inline;
    color: #5f5f5f;
    padding: 0 5px; }
  .col-right .short-link .short-link-right p {
    font-size: 0.9em;
    color: #5f5f5f;
    display: inline-block; }

.col-right .short-link .short-link-left ul {
  text-align: center;
  padding: 10px 0; }
  @media screen and (min-width: 850px) {
    .col-right .short-link .short-link-left ul {
      text-align: left; } }
  .col-right .short-link .short-link-left ul li {
    display: inline-block; }
    .col-right .short-link .short-link-left ul li a {
      font-size: 2em;
      background-color: transparent;
      padding: 5px; }
      .col-right .short-link .short-link-left ul li a .fa-facebook {
        color: #3b5998; }
      .col-right .short-link .short-link-left ul li a .fa-twitter {
        color: #1da1f2; }
      .col-right .short-link .short-link-left ul li a .fa-send {
        color: #0088cc; }

.col-right .news-inner {
  background-color: #fff;
  padding: 15px;
  border-radius: 10px;
  border-top: 3px solid #a72772;
  margin-top: 16px; }
  .col-right .news-inner header a {
    color: #a72772; }
  .col-right .news-inner li {
    padding: 10px 0; }
    .col-right .news-inner li:hover a {
      color: #b50000; }
  .col-right .news-inner li i {
    color: #a72772;
    font-size: 0.6em;
    float: right;
    padding-top: 7px;
    padding-left: 7px; }
    .col-right .news-inner li i a {
      display: inline-block; }

.col-right form {
  margin-top: 16px;
  border-radius: 10px;
  padding: 15px;
  background-color: #fff;
  border-top: 3px solid #a72772;
  text-align: center;
  display: inline-block; }
  .col-right form h3 {
    color: #a72772;
    text-align: right;
    padding: 12px 0; }
  .col-right form input {
    width: 100%;
    padding: 10px 20px;
    margin: 10px 0;
    border: 1px solid #d4d4d4;
    font-family: vazir-bold;
    font-size: 1.1em;
    text-align: right; }
    @media screen and (min-width: 850px) {
      .col-right form input {
        width: 48%;
        padding: 15px 10px; } }
  @media screen and (min-width: 850px) {
    .col-right form #email {
      margin-right: 10px; } }
  .col-right form #message {
    width: 100%;
    padding-bottom: 240px;
    margin-top: 16px; }
  .col-right form a {
    background-color: #b50000;
    padding: 7px 20px;
    color: #fff;
    font-size: 1.2em;
    display: block;
    margin-top: 16px;
    text-align: center; }
    @media screen and (min-width: 850px) {
      .col-right form a {
        display: inline-block;
        float: none;
        float: left; } }

@media screen and (min-width: 850px) {
  .col-left {
    width: 35%;
    float: left;
    padding-right: 15px; } }

.col-left .last-news-inner {
  background-color: #fff;
  padding: 15px;
  border-radius: 10px;
  border-top: 3px solid #a72772;
  margin-top: 16px; }
  .col-left .last-news-inner header a {
    color: #a72772; }
  .col-left .last-news-inner li {
    padding: 10px 0; }
    .col-left .last-news-inner li:hover a {
      color: #b50000; }
  .col-left .last-news-inner li i {
    color: #a72772;
    font-size: 0.6em;
    float: right;
    padding-top: 7px;
    padding-left: 7px; }
    .col-left .last-news-inner li i a {
      display: inline-block; }

.col-left .economic-news-inner {
  background-color: #fff;
  padding: 15px;
  border-radius: 10px;
  border-top: 3px solid #a72772;
  margin-top: 16px; }
  .col-left .economic-news-inner header a {
    color: #a72772; }
  .col-left .economic-news-inner li {
    padding: 10px 0; }
    .col-left .economic-news-inner li:hover a {
      color: #b50000; }
  .col-left .economic-news-inner li i {
    color: #a72772;
    font-size: 0.6em;
    float: right;
    padding-top: 7px;
    padding-left: 7px; }
    .col-left .economic-news-inner li i a {
      display: inline-block; }

.col-left .more-media {
  background-color: #fff;
  padding: 15px;
  border-radius: 10px;
  border-top: 3px solid #a72772;
  margin-top: 16px; }
  .col-left .more-media h3 a {
    color: #a72772;
    font-size: 1.1em; }
  .col-left .more-media ul {
    padding: 10px; }
    .col-left .more-media ul li {
      padding: 8px 0; }
  .col-left .more-media .media-right {
    width: 40%;
    float: right;
    padding-left: 5px; }
  .col-left .more-media .media-left {
    width: 60%;
    float: left;
    padding-right: 5px; }
    .col-left .more-media .media-left:hover h4 a {
      color: #b50000; }

.search-inp {
  width: 200px;
  height: 40px;
  display: none;
  font-family: vazir;
  font-size: 1em;
  background-color: #949090;
  position: absolute;
  padding: 5px 10px;
  z-index: 1000; }
  .search-inp::placeholder {
    color: #dbd3d3; }

.more {
  position: absolute;
  left: 15px;
  bottom: 10px; }
  .more i {
    text-align: left;
    font-size: 1em;
    color: #b50000; }
  .more i {
    color: #098b54; }

* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box; }

body {
  font-family: vazir; }
  body a {
    transition: all 0.3s ease-in-out; }

a {
  text-decoration: none;
  color: #000; }

li {
  list-style: none; }

img {
  max-width: 100%;
  display: block;
  height: auto; }

main {
  padding: 0  10px 30px; }

.wrapper {
  max-width: 1200px;
  margin: 0 auto; }

.container::after {
  clear: both;
  display: block;
  content: ""; }

@font-face {
  font-family: vazir;
  src: url("../fonts/Vazir.ttf");
  src: url("../fonts/Vazir.woff");
  src: url("../fonts/Vazir.woff2"); }

@font-face {
  font-family: vazir-bold;
  src: url("../fonts/Vazir-Bold.ttf");
  src: url("../fonts/Vazir-Bold.woff");
  src: url("../fonts/Vazir-Bold.woff2"); }

.res {
  display: block; }
  .res img {
    width: 100%;
    height: auto;
    display: block; }

@media screen and (min-width: 850px) {
  .sv-pull-right {
    width: 60%;
    float: right;
    padding-left: 16px; } }

.sv-pull-right .sv-first-news {
  border-top: 5px solid #000;
  padding: 10px;
  background-color: #fff;
  margin-top: 16px;
  position: relative; }
  @media screen and (min-width: 850px) {
    .sv-pull-right .sv-first-news .sv-right {
      width: 60%;
      float: right; } }
  @media screen and (min-width: 850px) {
    .sv-pull-right .sv-first-news .sv-left {
      width: 40%;
      float: left; } }
  .sv-pull-right .sv-first-news .sv-left h2 a {
    color: #551a8b;
    padding: 15px;
    font-size: 1.1em; }
    @media screen and (min-width: 850px) {
      .sv-pull-right .sv-first-news .sv-left h2 a {
        font-size: 1.3em; } }
  .sv-pull-right .sv-first-news .sv-left time {
    font-size: 0.9em;
    background-color: #b50000;
    color: #fff;
    padding: 4px;
    margin: 10px;
    display: inline-block;
    font-size: 0.8em; }
  .sv-pull-right .sv-first-news .more {
    position: absolute;
    left: 15px;
    bottom: 10px; }
    .sv-pull-right .sv-first-news .more i {
      text-align: left;
      font-size: 1em;
      color: #b50000; }

.sv-pull-right .economic header {
  margin-top: 16px;
  padding: 10px;
  border-bottom: 2px solid #f2f2f2;
  border-top: 5px solid #098b54;
  background-color: #fff;
  font-size: 1.3em;
  border-top-color: #b50000; }

.sv-pull-right .economic ul {
  margin-top: 16px; }
  .sv-pull-right .economic ul li {
    background-color: #fff;
    padding: 15px;
    margin: 12px 0; }

@media screen and (min-width: 650px) {
  .sv-pull-right .economic .economic-right {
    width: 30%;
    float: right;
    padding-left: 5px; } }

@media screen and (min-width: 850px) {
  .sv-pull-right .economic .economic-right {
    width: 25%; } }

.sv-pull-right .economic .sv-onomic-left h4 {
  padding: 7px 0; }

@media screen and (min-width: 650px) {
  .sv-pull-right .economic .sv-onomic-left {
    width: 70%;
    float: left;
    padding-right: 5px; } }

@media screen and (min-width: 850px) {
  .sv-pull-right .economic .sv-onomic-left p {
    font-size: 0.8em; } }

.sv-pull-right .reload {
  text-align: left;
  background-color: #b50000;
  color: #fff;
  float: left;
  padding: 7px 12px;
  font-size: 0.9em; }
  .sv-pull-right .reload:hover {
    background-color: #850502; }

@media screen and (min-width: 850px) {
  .sv-pull-left {
    width: 40%;
    float: left;
    padding-right: 16px; } }

.sv-pull-left .sv-last-news header {
  margin-top: 16px;
  padding: 10px;
  border-bottom: 2px solid #f2f2f2;
  border-top: 5px solid #098b54;
  background-color: #fff;
  font-size: 1.3em;
  text-align: center;
  font-size: 0.9em; }

.sv-pull-left .sv-different-news {
  position: relative; }
  .sv-pull-left .sv-different-news header {
    margin-top: 16px;
    padding: 10px;
    border-bottom: 2px solid #f2f2f2;
    border-top: 5px solid #098b54;
    background-color: #fff;
    font-size: 1.3em;
    border-top-color: #b50000; }
  .sv-pull-left .sv-different-news ul {
    background-color: #fff;
    padding-bottom: 30px; }
    .sv-pull-left .sv-different-news ul li .sv-different-news-detials {
      padding: 10px 0;
      position: relative; }
      .sv-pull-left .sv-different-news ul li .sv-different-news-detials:hover a {
        color: #b50000; }
    .sv-pull-left .sv-different-news ul li a {
      display: inline-block;
      color: #000;
      padding-right: 28px; }
    .sv-pull-left .sv-different-news ul li i {
      color: #b50000;
      font-size: 0.6em;
      position: absolute;
      top: 19px;
      right: 10px; }
  .sv-pull-left .sv-different-news .more {
    position: absolute;
    left: 15px;
    bottom: 10px; }
    .sv-pull-left .sv-different-news .more i {
      text-align: left;
      font-size: 1em;
      color: #b50000; }

.sv-pull-left .sv-face-news {
  background-color: #fff;
  position: relative; }
  .sv-pull-left .sv-face-news:hover h3 a {
    color: #098b54; }
  .sv-pull-left .sv-face-news header {
    margin-top: 16px;
    padding: 10px;
    border-bottom: 2px solid #f2f2f2;
    border-top: 5px solid #098b54;
    background-color: #fff;
    font-size: 1.3em; }
  .sv-pull-left .sv-face-news .sv-face-news-details {
    padding: 10px; }
    .sv-pull-left .sv-face-news .sv-face-news-details h3 a {
      font-size: 1.1em;
      padding: 12px 0;
      font-size: 0.9em; }
    .sv-pull-left .sv-face-news .sv-face-news-details time {
      font-size: 0.9em;
      background-color: #b50000;
      color: #fff;
      padding: 4px;
      margin: 10px;
      display: inline-block;
      margin: 0; }

.sv-pull-left .sv-currency-news {
  background-color: #fff;
  position: relative; }
  .sv-pull-left .sv-currency-news header {
    margin-top: 16px;
    padding: 10px;
    border-bottom: 2px solid #f2f2f2;
    border-top: 5px solid #098b54;
    background-color: #fff;
    font-size: 1.3em; }
  .sv-pull-left .sv-currency-news:hover h3 a {
    color: #098b54; }
  .sv-pull-left .sv-currency-news header {
    margin-top: 16px;
    padding: 10px;
    border-bottom: 2px solid #f2f2f2;
    border-top: 5px solid #098b54;
    background-color: #fff;
    font-size: 1.3em; }
  .sv-pull-left .sv-currency-news .sv-currency-news-details {
    padding: 10px; }
    .sv-pull-left .sv-currency-news .sv-currency-news-details h3 a {
      font-size: 1.1em;
      padding: 12px 0;
      font-size: 0.9em; }
    .sv-pull-left .sv-currency-news .sv-currency-news-details time {
      font-size: 0.9em;
      background-color: #b50000;
      color: #fff;
      padding: 4px;
      margin: 10px;
      display: inline-block;
      margin: 0; }

.sv-pull-left .sv-exchange-news {
  background-color: #fff;
  position: relative; }
  .sv-pull-left .sv-exchange-news header {
    margin-top: 16px;
    padding: 10px;
    border-bottom: 2px solid #f2f2f2;
    border-top: 5px solid #098b54;
    background-color: #fff;
    font-size: 1.3em; }
  .sv-pull-left .sv-exchange-news:hover h3 a {
    color: #098b54; }
  .sv-pull-left .sv-exchange-news header {
    margin-top: 16px;
    padding: 10px;
    border-bottom: 2px solid #f2f2f2;
    border-top: 5px solid #098b54;
    background-color: #fff;
    font-size: 1.3em; }
  .sv-pull-left .sv-exchange-news .sv-exchange-news-details {
    padding: 10px; }
    .sv-pull-left .sv-exchange-news .sv-exchange-news-details h3 a {
      font-size: 1.1em;
      padding: 12px 0;
      font-size: 0.9em; }
    .sv-pull-left .sv-exchange-news .sv-exchange-news-details time {
      font-size: 0.9em;
      background-color: #b50000;
      color: #fff;
      padding: 4px;
      margin: 10px;
      display: inline-block;
      margin: 0; }

.search-inp {
  width: 200px;
  height: 40px;
  display: none;
  font-family: vazir;
  font-size: 1em;
  background-color: #949090;
  position: absolute;
  padding: 5px 10px;
  z-index: 1000; }
  .search-inp::placeholder {
    color: #dbd3d3; }

.more {
  position: absolute;
  left: 15px;
  bottom: 10px; }
  .more i {
    text-align: left;
    font-size: 1em;
    color: #b50000; }
  .more i {
    color: #098b54; }

* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box; }

body {
  font-family: vazir; }
  body a {
    transition: all 0.3s ease-in-out; }

a {
  text-decoration: none;
  color: #000; }

li {
  list-style: none; }

img {
  max-width: 100%;
  display: block;
  height: auto; }

main {
  padding: 0  10px 30px; }

.wrapper {
  max-width: 1200px;
  margin: 0 auto; }

.container::after {
  clear: both;
  display: block;
  content: ""; }

@font-face {
  font-family: vazir;
  src: url("../fonts/Vazir.ttf");
  src: url("../fonts/Vazir.woff");
  src: url("../fonts/Vazir.woff2"); }

@font-face {
  font-family: vazir-bold;
  src: url("../fonts/Vazir-Bold.ttf");
  src: url("../fonts/Vazir-Bold.woff");
  src: url("../fonts/Vazir-Bold.woff2"); }

.res {
  display: block; }
  .res img {
    width: 100%;
    height: auto;
    display: block; }

.main-column {
  width: 100%; }
  @media screen and (min-width: 850px) {
    .main-column {
      width: 70%; } }

.tags-header {
  width: 100%;
  margin-top: 16px;
  background-color: #d4d4d4;
  display: inline-block;
  padding: 7px; }

.tags ul {
  margin-top: 16px; }
  .tags ul li {
    background-color: #fff;
    padding: 15px;
    margin: 12px 0; }

@media screen and (min-width: 650px) {
  .tags .tags-right {
    width: 30%;
    float: right;
    padding-left: 5px; } }

@media screen and (min-width: 850px) {
  .tags .tags-right {
    width: 25%; } }

.tags .tags-left h4 {
  padding: 7px 0; }

@media screen and (min-width: 650px) {
  .tags .tags-left {
    width: 70%;
    float: left;
    padding-right: 5px; } }

@media screen and (min-width: 850px) {
  .tags .tags-left p {
    font-size: 0.8em; } }

.tags .reload {
  display: block;
  text-align: center;
  background-color: #b50000;
  color: #fff;
  padding: 10px 0; }

header .top-menu {
  background-color: #b50000;
  padding: 3px 0; }

header .time {
  font-family: vazir;
  text-align: center;
  color: #fff;
  margin: 20px 0;
  font-size: 0.9em; }
  @media screen and (min-width: 650px) {
    header .time {
      float: left;
      text-align: left;
      padding: 0 5px;
      width: 50%;
      font-size: 0.9em;
      margin: 0;
      margin-top: 2px; } }

header .weather {
  color: #fff;
  margin: 20px 0;
  font-size: 0.9em;
  text-align: center; }
  @media screen and (min-width: 650px) {
    header .weather {
      padding: 2px 5px;
      margin: 0;
      float: right;
      text-align: right;
      width: 50%;
      font-size: 0.9em; } }
  header .weather span {
    font-family: vazir; }

header .social {
  text-align: center; }
  header .social a {
    color: #000;
    display: inline-block;
    font-size: 1.5em;
    padding: 7px 10px; }
    @media screen and (min-width: 650px) {
      header .social a {
        text-align: left;
        padding: 7px 4px;
        font-size: 1.1em; } }
  @media screen and (min-width: 650px) {
    header .social {
      text-align: left; } }

header .logo {
  text-align: center;
  border-top: 2px solid #f2f2f2;
  border-bottom: 2px solid #f2f2f2; }
  header .logo a {
    padding: 20px 0;
    display: inline-block; }
  header .logo h1 {
    padding-top: 4px; }

header .normal-menu button,
header .footer-menu button {
  cursor: pointer;
  background-color: transparent; }

@media screen and (max-width: 850px) {
  header .normal-menu,
  header .footer-menu {
    display: none; } }

header .normal-menu li,
header .footer-menu li {
  font-family: vazir-bold;
  display: inline-block; }
  header .normal-menu li a,
  header .footer-menu li a {
    display: inline-block;
    padding: 7px 8px;
    font-size: 0.8em;
    color: #888181; }
    header .normal-menu li a:hover,
    header .footer-menu li a:hover {
      color: #363333; }
    header .normal-menu li a i,
    header .footer-menu li a i {
      color: #000; }

@media screen and (min-width: 850px) {
  header .responsive-menu {
    display: none; } }

header .responsive-menu .toggle-icon {
  background-color: #000;
  color: #fff;
  text-align: center; }

header .responsive-menu i {
  font-size: 1.5em;
  padding: 7px;
  cursor: pointer; }

@media screen and (max-width: 850px) {
  header .responsive-menu ul {
    display: none; }
    header .responsive-menu ul li {
      display: block;
      text-align: center;
      padding: 7px 0;
      font-size: 1em; }
      header .responsive-menu ul li button {
        cursor: pointer;
        background-color: transparent; }
      header .responsive-menu ul li i {
        font-size: 1.5em; } }

header .responsive-menu li {
  font-family: vazir-bold;
  display: inline-block; }
  header .responsive-menu li a {
    display: inline-block;
    padding: 7px 8px;
    font-size: 0.9em;
    color: #888181; }
    header .responsive-menu li a i {
      color: #000; }

main {
  background-color: #eeeded; }

.pull-right {
  margin-top: 16px; }
  @media screen and (min-width: 850px) {
    .pull-right {
      width: 60%;
      float: right;
      padding: 0;
      padding-left: 16px; } }

.first-news {
  padding: 10px;
  border-top: 10px solid #000;
  position: relative;
  background-color: #fff; }
  .first-news:hover h3 a {
    color: #098b54; }
  .first-news a {
    display: block; }
  .first-news .more {
    position: absolute;
    left: 15px;
    bottom: 10px; }
    .first-news .more i {
      text-align: left;
      font-size: 1em;
      color: #b50000; }

@media screen and (min-width: 650px) {
  .first-news-img {
    width: 65%;
    float: right;
    padding-left: 10px; } }

@media screen and (min-width: 950px) {
  .first-news-img {
    width: 60%; } }

.first-news-details a {
  color: #000; }

.first-news-details P {
  padding: 10px 0; }

.first-news-details time {
  font-size: 0.9em;
  background-color: #b50000;
  color: #fff;
  padding: 4px;
  margin: 10px;
  display: inline-block; }

@media screen and (min-width: 650px) {
  .first-news-details {
    width: 35%;
    float: left; }
    .first-news-details time {
      font-size: 0.8em; }
    .first-news-details p {
      font-size: 0.9em; } }

@media screen and (min-width: 950px) {
  .first-news-details {
    width: 40%; }
    .first-news-details h3 {
      padding: 7px; }
    .first-news-details p {
      padding: 7px; }
    .first-news-details time {
      margin: 7px; } }

.speacial-news {
  position: relative; }
  .speacial-news .container {
    background-color: #fff; }
  .speacial-news header {
    margin-top: 16px;
    padding: 10px;
    border-bottom: 2px solid #f2f2f2;
    border-top: 5px solid #098b54;
    background-color: #fff;
    font-size: 1.3em; }
  .speacial-news .more {
    position: absolute;
    left: 15px;
    bottom: 10px; }
    .speacial-news .more i {
      text-align: left;
      font-size: 1em;
      color: #b50000; }

.speacial-news-right {
  background-color: #fff;
  padding: 10px; }
  .speacial-news-right:hover h3 a {
    color: #098b54; }
  @media screen and (min-width: 650px) {
    .speacial-news-right {
      width: 50%;
      float: right; } }
  .speacial-news-right a img {
    width: 100%; }
  .speacial-news-right h3 {
    color: #000;
    padding: 10px 0 20px; }
  .speacial-news-right p {
    color: #5f5f5f;
    padding-bottom: 15px;
    font-size: 0.9em; }

.speacial-news-left ul {
  padding: 0 10px; }
  .speacial-news-left ul :nth-last-child(1) {
    border-bottom: none; }
  .speacial-news-left ul li {
    border-bottom: 1px solid #f2f2f2;
    padding: 10px 0; }
    .speacial-news-left ul li:hover h3 a {
      color: #098b54; }

@media screen and (min-width: 650px) {
  .speacial-news-left {
    width: 50%;
    float: left; } }

.speacial-news-left .right {
  width: 25%;
  float: right; }

.speacial-news-left .left {
  width: 75%;
  float: left; }
  .speacial-news-left .left h3 {
    padding-right: 10px;
    font-size: 0.9em; }
  .speacial-news-left .left time {
    font-size: 0.9em;
    background-color: #b50000;
    color: #fff;
    padding: 4px;
    margin: 10px;
    display: inline-block;
    background-color: #098b54;
    margin-top: 25px;
    font-size: 1.1em; }
    @media screen and (min-width: 650px) {
      .speacial-news-left .left time {
        font-size: 0.9em;
        background-color: #b50000;
        color: #fff;
        padding: 4px;
        margin: 10px;
        display: inline-block;
        background-color: #098b54;
        margin-top: 0px;
        margin: 10px; } }

.favorite-news .news-right ul,
.favorite-news .news-left ul {
  padding: 0 10px; }
  .favorite-news .news-right ul :nth-last-child(1),
  .favorite-news .news-left ul :nth-last-child(1) {
    border-bottom: none; }
  .favorite-news .news-right ul li,
  .favorite-news .news-left ul li {
    border-bottom: 1px solid #f2f2f2;
    padding: 10px 0; }
    .favorite-news .news-right ul li:hover h3 a,
    .favorite-news .news-left ul li:hover h3 a {
      color: #098b54; }

@media screen and (min-width: 650px) {
  .favorite-news .news-right,
  .favorite-news .news-left {
    width: 50%;
    float: left; } }

.favorite-news .news-right .right,
.favorite-news .news-left .right {
  width: 25%;
  float: right; }

.favorite-news .news-right .left,
.favorite-news .news-left .left {
  width: 75%;
  float: left; }
  .favorite-news .news-right .left h3,
  .favorite-news .news-left .left h3 {
    padding-right: 10px;
    font-size: 0.9em; }
  .favorite-news .news-right .left time,
  .favorite-news .news-left .left time {
    font-size: 0.9em;
    background-color: #b50000;
    color: #fff;
    padding: 4px;
    margin: 10px;
    display: inline-block;
    background-color: #098b54;
    margin-top: 25px;
    font-size: 1.1em; }
    @media screen and (min-width: 650px) {
      .favorite-news .news-right .left time,
      .favorite-news .news-left .left time {
        font-size: 0.9em;
        background-color: #b50000;
        color: #fff;
        padding: 4px;
        margin: 10px;
        display: inline-block;
        background-color: #098b54;
        margin-top: 0px;
        margin: 10px; } }

@media screen and (min-width: 650px) {
  .favorite-news .news-right,
  .favorite-news .news-left {
    width: 50%;
    float: right; } }

.favorite-news .news-right header,
.favorite-news .news-left header {
  margin-top: 16px;
  padding: 10px;
  border-bottom: 2px solid #f2f2f2;
  border-top: 5px solid #098b54;
  background-color: #fff;
  font-size: 1.3em; }

.favorite-news .news-right {
  position: relative; }
  @media screen and (min-width: 650px) {
    .favorite-news .news-right {
      padding-left: 5px; } }
  .favorite-news .news-right ul {
    background-color: #fff; }
  .favorite-news .news-right .more {
    position: absolute;
    left: 15px;
    bottom: 10px; }
    .favorite-news .news-right .more i {
      text-align: left;
      font-size: 1em;
      color: #b50000; }
    .favorite-news .news-right .more i {
      color: #098b54; }

.favorite-news .news-left {
  position: relative; }
  @media screen and (min-width: 650px) {
    .favorite-news .news-left {
      padding-right: 5px; } }
  .favorite-news .news-left ul {
    background-color: #fff; }
  .favorite-news .news-left .more {
    position: absolute;
    left: 15px;
    bottom: 10px; }
    .favorite-news .news-left .more i {
      text-align: left;
      font-size: 1em;
      color: #b50000; }
    .favorite-news .news-left .more i {
      color: #098b54; }

.pull-left {
  width: 100%;
  margin-top: 16px; }
  @media screen and (min-width: 850px) {
    .pull-left {
      width: 40%;
      float: left;
      padding-right: 16px; } }
  .pull-left header {
    margin-top: 16px;
    padding: 10px;
    border-bottom: 2px solid #f2f2f2;
    border-top: 5px solid #098b54;
    background-color: #fff;
    font-size: 1.3em;
    border-top: 10px solid #098b54;
    margin-top: 0px; }
  .pull-left .face-news {
    background-color: #fff;
    position: relative; }
    .pull-left .face-news:hover h3 a {
      color: #098b54; }
    .pull-left .face-news .face-news-details {
      padding: 10px; }
      .pull-left .face-news .face-news-details h3 a {
        font-size: 1.1em;
        padding: 12px 0;
        font-size: 0.9em; }
      .pull-left .face-news .face-news-details time {
        font-size: 0.9em;
        background-color: #b50000;
        color: #fff;
        padding: 4px;
        margin: 10px;
        display: inline-block;
        margin: 0; }
  .pull-left .last-news header {
    margin-top: 16px;
    padding: 10px;
    border-bottom: 2px solid #f2f2f2;
    border-top: 5px solid #098b54;
    background-color: #fff;
    font-size: 1.3em;
    border-top: 10px solid #098b54;
    text-align: center;
    padding: 0; }
    .pull-left .last-news header .header-heading {
      background-color: #eeeded;
      display: inline-block;
      padding: 7px 60px; }
  .pull-left .last-news ul {
    background-color: #fff; }
    .pull-left .last-news ul li .last-news-details {
      padding: 10px 0;
      position: relative; }
    .pull-left .last-news ul li a {
      display: inline-block;
      color: #000;
      padding-right: 28px; }
    .pull-left .last-news ul li i {
      color: #b50000;
      font-size: 0.6em;
      position: absolute;
      top: 19px;
      right: 10px; }

.top-news {
  background-color: #000;
  position: relative;
  padding-bottom: 25px; }
  .top-news header {
    margin-top: 16px;
    padding: 10px;
    border-bottom: 2px solid #f2f2f2;
    border-top: 5px solid #098b54;
    background-color: #fff;
    font-size: 1.3em;
    background-color: #000;
    border-top: 10px solid #b50000;
    border-bottom: 1px solid gray;
    font-size: 1.2em; }
    .top-news header a {
      color: #fff; }

.main-top-news {
  position: relative;
  background-color: #000;
  padding: 15px; }
  .main-top-news .main-details {
    background-color: rgba(0, 0, 0, 0.7);
    min-width: 100%;
    padding: 15px 28px;
    margin: -55px -15px;
    position: absolute; }
    .main-top-news .main-details a {
      color: #fff; }
  @media screen and (min-width: 650px) {
    .main-top-news {
      float: right;
      width: 60%; } }

.top-news-more {
  padding: 0 15px; }
  @media screen and (min-width: 650px) {
    .top-news-more {
      float: left;
      width: 40%; } }
  .top-news-more .more {
    position: absolute;
    left: 15px;
    bottom: 10px;
    margin-top: 20px; }
    .top-news-more .more i {
      text-align: left;
      font-size: 1em;
      color: #b50000; }
    .top-news-more .more i {
      color: #098b54; }
  .top-news-more .top-news-details {
    margin: 15px 0;
    background-color: #b50000; }
  .top-news-more .top-news-right {
    width: 45%;
    float: right; }
  .top-news-more .top-news-left {
    width: 55%;
    float: left;
    background-color: #b50000;
    padding: 10px; }
    .top-news-more .top-news-left a {
      color: #fff; }

@media screen and (min-width: 850px) {
  .more-news .more-right {
    width: 70%;
    float: right; } }

.more-news .more-right .mr-right header {
  margin-top: 16px;
  padding: 10px;
  border-bottom: 2px solid #f2f2f2;
  border-top: 5px solid #098b54;
  background-color: #fff;
  font-size: 1.3em; }

.more-news .more-right .mr-right .mr-col-right {
  position: relative;
  background-color: #fff;
  padding-bottom: 50px; }

.more-news .more-right .mr-right .more {
  position: absolute;
  left: 15px;
  bottom: 10px; }
  .more-news .more-right .mr-right .more i {
    text-align: left;
    font-size: 1em;
    color: #b50000; }
  .more-news .more-right .mr-right .more i {
    color: #098b54; }

.more-news .more-right .mr-right ul {
  padding: 5px; }

.more-news .more-right .mr-right li {
  width: 50%;
  float: right;
  padding: 5px; }
  .more-news .more-right .mr-right li .more-news-content {
    width: 100%;
    float: right;
    position: relative; }
    .more-news .more-right .mr-right li .more-news-content .more-news-details {
      background-color: rgba(0, 0, 0, 0.7);
      width: 100%;
      position: absolute;
      bottom: 20px; }
      .more-news .more-right .mr-right li .more-news-content .more-news-details a {
        color: #fff;
        font-size: 0.7em;
        padding: 4px 4px; }

@media screen and (min-width: 650px) {
  .more-news .more-right .mr-right {
    width: 43%;
    float: right; } }

.more-news .more-right .mr-left header {
  margin-top: 16px;
  padding: 10px;
  border-bottom: 2px solid #f2f2f2;
  border-top: 5px solid #098b54;
  background-color: #fff;
  font-size: 1.3em; }

.more-news .more-right .mr-left .mr-left-details {
  padding: 10px;
  background-color: #fff; }
  .more-news .more-right .mr-left .mr-left-details h3 {
    padding: 12px 0; }
  .more-news .more-right .mr-left .mr-left-details time {
    font-size: 0.9em;
    background-color: #b50000;
    color: #fff;
    padding: 4px;
    margin: 10px;
    display: inline-block;
    margin: 0; }

@media screen and (min-width: 650px) {
  .more-news .more-right .mr-left {
    min-height: 412px;
    width: 57%;
    float: right;
    padding: 0 10px; }
    .more-news .more-right .mr-left time {
      margin: 10px; } }

@media screen and (min-width: 850px) {
  .more-news .more-left {
    width: 30%;
    float: left; } }

.more-news .more-left .mr-col-left {
  position: relative;
  padding-bottom: 50px;
  background-color: #fff; }
  .more-news .more-left .mr-col-left .more {
    position: absolute;
    left: 15px;
    bottom: 10px; }
    .more-news .more-left .mr-col-left .more i {
      text-align: left;
      font-size: 1em;
      color: #b50000; }
    .more-news .more-left .mr-col-left .more i {
      color: #098b54; }

.more-news .more-left header {
  margin-top: 16px;
  padding: 10px;
  border-bottom: 2px solid #f2f2f2;
  border-top: 5px solid #098b54;
  background-color: #fff;
  font-size: 1.3em; }

.more-news .more-left ul {
  padding: 5px; }

.more-news .more-left li {
  width: 50%;
  float: right;
  padding: 5px; }
  .more-news .more-left li .more-news-content {
    width: 100%;
    float: right;
    position: relative; }
    .more-news .more-left li .more-news-content .more-news-details {
      background-color: rgba(0, 0, 0, 0.7);
      width: 100%;
      position: absolute;
      bottom: 20px; }
      .more-news .more-left li .more-news-content .more-news-details a {
        color: #fff;
        font-size: 0.7em;
        padding: 4px 4px; }

footer {
  text-align: center; }
  @media screen and (max-width: 850px) {
    footer .normal-menu,
    footer .footer-menu {
      display: none; } }
  footer .normal-menu li,
  footer .footer-menu li {
    font-family: vazir-bold;
    display: inline-block; }
    footer .normal-menu li a,
    footer .footer-menu li a {
      display: inline-block;
      padding: 7px 8px;
      font-size: 0.8em;
      color: #888181; }
      footer .normal-menu li a:hover,
      footer .footer-menu li a:hover {
        color: #363333; }
      footer .normal-menu li a i,
      footer .footer-menu li a i {
        color: #000; }
  @media screen and (max-width: 850px) {
    footer .normal-menu,
    footer .footer-menu {
      display: block; } }
  footer nav {
    background-color: #000; }
    footer nav a {
      color: #fff !important;
      padding: 20px 8px !important; }
      footer nav a:hover {
        color: #b50000 !important; }
  footer .footer-part2 {
    background-color: #b50000; }
    footer .footer-part2 img {
      width: 100%; }
    footer .footer-part2 .footer-logo {
      font-size: 1.3em;
      width: 50%;
      margin: 0 auto;
      padding: 10px 0; }
      @media screen and (min-width: 500px) {
        footer .footer-part2 .footer-logo {
          width: 30%;
          padding: 10px;
          margin-right: 40px;
          float: right; } }
  @media screen and (min-width: 500px) and (min-width: 850px) {
    footer .footer-part2 .footer-logo {
      width: 20%; } }
    footer .footer-part2 .social {
      width: 50%;
      text-align: center;
      margin: 0 auto; }
      @media screen and (min-width: 500px) {
        footer .footer-part2 .social {
          float: left;
          text-align: left;
          padding: 16px 0;
          font-size: 1.2em;
          margin: 0;
          margin-left: 40px; } }
      footer .footer-part2 .social li {
        display: inline-block; }
        footer .footer-part2 .social li a {
          color: #fff;
          padding: 5px; }
          footer .footer-part2 .social li a:hover {
            color: #000; }
