@import url("./global.css");
.main-header .top-menu {
  background-color: #a14c4c;
  padding: 3px 0; }

.time {
  font-family: vazir-bold;
  text-align: center;
  color: #fff;
  margin: 20px 0;
  font-size: 1.3em; }
  @media screen and (min-width: 650px) {
    .time {
      float: left;
      text-align: left;
      padding: 0 5px;
      width: 50%;
      font-size: 1em;
      margin: 0; } }

.weather {
  color: #fff;
  margin: 20px 0;
  font-size: 1.3em;
  text-align: center; }
  @media screen and (min-width: 650px) {
    .weather {
      padding: 2px 5px;
      margin: 0;
      float: right;
      text-align: right;
      width: 50%;
      font-size: 1em; } }
  .weather span {
    font-family: vazir-bold; }

.social {
  text-align: center; }
  .social a {
    color: #000;
    display: inline-block;
    font-size: 1.5em;
    padding: 7px 10px; }
    @media screen and (min-width: 650px) {
      .social a {
        text-align: left;
        padding: 7px 4px;
        font-size: 1.1em; } }
  @media screen and (min-width: 650px) {
    .social {
      text-align: left; } }

.logo {
  text-align: center;
  border-top: 2px solid #c2c0c0;
  border-bottom: 2px solid #c2c0c0; }
  .logo a {
    padding: 20px 0;
    display: inline-block; }
  .logo h1 {
    padding-top: 4px; }

@media screen and (max-width: 850px) {
  .normal-menu {
    display: none; } }

.normal-menu li {
  font-family: vazir-bold;
  display: inline-block; }
  .normal-menu li a {
    display: inline-block;
    padding: 7px 8px;
    font-size: 0.9em;
    color: #888181; }
    .normal-menu li a i {
      color: #000; }

@media screen and (min-width: 850px) {
  .responsive-menu {
    display: none; } }

.responsive-menu .toggle-icon {
  background-color: #000;
  color: #fff;
  text-align: center; }

.responsive-menu i {
  font-size: 2.7em;
  padding: 10px;
  cursor: pointer; }

@media screen and (max-width: 850px) {
  .responsive-menu ul {
    display: none; }
    .responsive-menu ul li {
      display: block;
      text-align: center;
      padding: 10px 0;
      font-size: 1.2em; }
      .responsive-menu ul li i {
        font-size: 1.7em; } }

.responsive-menu li {
  font-family: vazir-bold;
  display: inline-block; }
  .responsive-menu li a {
    display: inline-block;
    padding: 7px 8px;
    font-size: 0.9em;
    color: #888181; }
    .responsive-menu li a i {
      color: #000000; }

.pull-right {
  background-color: salmon; }
  @media screen and (min-width: 650px) {
    .pull-right {
      width: 60%;
      float: right; } }

.pull-left {
  background-color: springgreen; }
  @media screen and (min-width: 650px) {
    .pull-left {
      width: 40%;
      float: left; } }

.top-news {
  background-color: slateblue; }

.main-top-news {
  background-color: slateblue; }
  @media screen and (min-width: 650px) {
    .main-top-news {
      float: right;
      width: 60%; } }

@media screen and (min-width: 650px) {
  .top-news-more {
    float: left;
    width: 40%; } }

.top-news-details {
  background-color: snow; }

.right-column {
  background-color: darkred; }
  @media screen and (min-width: 650px) {
    .right-column {
      float: right;
      width: 43%; } }

.mid-column {
  background-color: darkviolet; }
  @media screen and (min-width: 650px) {
    .mid-column {
      float: right;
      width: 57%; } }
  @media screen and (min-width: 850px) {
    .mid-column {
      float: left; } }

.more-news::after {
  clear: both;
  display: block;
  content: ""; }

.more-news .container {
  width: 100%;
  float: right; }
  @media screen and (min-width: 850px) {
    .more-news .container {
      width: 70%;
      float: right; } }

.left-column {
  background-color: gold; }
  @media screen and (min-width: 650px) {
    .left-column {
      width: 100%; } }
  @media screen and (min-width: 850px) {
    .left-column {
      width: 30%;
      float: left; } }
