@import "./varible.scss";
@import "./global.scss";
@import "../node_modules/font-awesome/css/font-awesome.min.css";
@import "./news.scss";
@import "./landing.scss";
@import "./tags.scss";

header {
  @include top_hedaer();
}

main {
  background-color: $gray-main;
}

///////////////////////////right
.pull-right {
  margin-top: $space-top;

  @media screen and(min-width:850px) {
    width: 60%;
    float: right;
    padding: 0;
    padding-left: 16px;
  }
}

///////////////////////////////////////////FIRST-NEWS

.first-news {
  padding: $space-allside;
  border-top: 10px solid #000;
  position: relative;
  background-color: $white;

  @include section_hover();

  a {
    display: block;
  }
  .more {
    @include arrow-icon();
  }
}
.first-news-img {
  @media screen and(min-width:650px) {
    width: 65%;
    float: right;
    padding-left: 10px;
  }
  @media screen and(min-width:950px) {
    width: 60%;
  }
}
.first-news-details {
  a {
    color: $black;
  }
  P {
    padding: $space-md-bt;
  }
  time {
    @include time();
  }

  @media screen and(min-width:650px) {
    width: 35%;
    float: left;
    time {
      font-size: 0.8em;
    }
    p {
      font-size: 0.9em;
    }
  }
  @media screen and(min-width:950px) {
    width: 40%;
    h3 {
      padding: $spcae-sm-tb;
    }
    p {
      padding: $spcae-sm-tb;
    }
    time {
      margin: $spcae-sm-tb;
    }
  }
}

///////////////////////////////////////////SPECIAL-NEWS

.speacial-news {
  position: relative;
  .container {
    background-color: $white;
  }
  header {
    @include header();
  }
  .more {
    @include arrow-icon();
  }
}
.speacial-news-right {
  background-color: $white;
  padding: $space-allside;

  @include section_hover();

  @media screen and(min-width:650px) {
    width: 50%;
    float: right;
  }
  a img {
    width: 100%;
  }
  h3 {
    color: $black;
    padding: 10px 0 20px;
  }
  p {
    color: $gray-text;
    padding-bottom: 15px;
    font-size: 0.9em;
  }
}
.speacial-news-left {
  @include section();
}

///////////////////////////////////////////FAVORITE-NEWS

.favorite-news {
  .news-right,
  .news-left {
    @include section();

    @media screen and(min-width:650px) {
      width: 50%;
      float: right;
    }
    header {
      @include header();
    }
  }
  .news-right {
    position: relative;
    @media screen and(min-width:650px) {
      padding-left: 5px;
    }

    ul {
      background-color: $white;
    }
    .more {
      @include arrow-icon();
      i {
        color: $green;
      }
    }
  }
  .news-left {
    position: relative;
    @media screen and(min-width:650px) {
      padding-right: 5px;
    }

    ul {
      background-color: $white;
    }
    .more {
      @include arrow-icon();
      i {
        color: $green;
      }
    }
  }
}
///////////////////////////////////////////left
.pull-left {
  width: 100%;
  margin-top: $space-top;

  @media screen and(min-width:850px) {
    width: 40%;
    float: left;
    padding-right: 16px;
  }

  header {
    @include header();
    border-top: 10px solid $green;
    margin-top: 0px;
  }

  .face-news {
    background-color: $white;
    position: relative;
    @include section_hover();
    .face-news-details {
      @include face-news();
    }
  }

  .last-news {
    header {
      @include header();
      border-top: 10px solid $green;
      text-align: center;
      padding: 0;

      .header-heading {
        background-color: $gray-main;
        display: inline-block;
        padding: 7px 60px;
      }
    }
    ul {
      background-color: $white;
      li {
        .last-news-details {
          padding: 10px 0;
          position: relative;
        }
        a {
          display: inline-block;
          color: $black;
          padding-right: 28px;
        }
        i {
          color: $red;
          font-size: 0.6em;
          position: absolute;
          top: 19px;
          right: 10px;
        }
      }
    }
  }
}
///////////////////////////////////////////top - news
.top-news {
  background-color: $black;
  position: relative;
  padding-bottom: 25px;
  header {
    @include header();
    background-color: $black;
    border-top: 10px solid $red;
    border-bottom: 1px solid gray;
    color: $white;
    font-size: 1.2em;
  }
}

.main-top-news {
  position: relative;
  background-color: $black;
  padding: 15px;

  .main-details {
    background-color: rgba(0, 0, 0, 0.7);
    min-width: 100%;
    padding: 15px 28px;
    margin: -55px -15px;
    position: absolute;
    a {
      color: $white;
    }
  }
  @media screen and(min-width:650px) {
    float: right;
    width: 60%;
  }
}

.top-news-more {
  padding: 0 15px;
  @media screen and(min-width:650px) {
    float: left;
    width: 40%;
  }
  .more {
    @include arrow-icon();
    margin-top: 20px;
    i {
      color: $green;
    }
  }

  .top-news-details {
    margin: 15px 0;
    background-color: $red;
  }

  .top-news-right {
    width: 45%;
    float: right;
  }

  .top-news-left {
    width: 55%;
    float: left;
    background-color: $red;
    padding: 10px;
    a {
      color: $white;
    }
  }
}

//////////////////////////////more-news
.more-news {
  .more-right {
    @media screen and(min-width:850px) {
      width: 70%;
      float: right;
    }
    .mr-right {
      header {
        @include header();
      }
      .mr-col-right {
        position: relative;
        background-color: $white;
        padding-bottom: 50px;
      }
      .more {
        @include arrow-icon();
        i {
          color: $green;
        }
      }

      ul {
        padding: 5px;
      }

      li {
        width: 50%;
        float: right;
        padding: 5px;
        @include more-news();
      }
      @media screen and(min-width:650px) {
        width: 43%;
        float: right;
      }
    }
    .mr-left {
      header {
        @include header();
      }
      .mr-left-details {
        padding: 10px;
        background-color: $white;
        h3 {
          padding: $space-lg-bt;
        }
        time {
          @include time();
          margin: 0;
        }
      }
      @media screen and(min-width:650px) {
        min-height: 412px;
        width: 57%;
        float: right;
        padding: 0 10px;
        time {
          margin: 10px;
        }
      }
    }
  }
  .more-left {
    @media screen and(min-width:850px) {
      width: 30%;
      float: left;
    }

    .mr-col-left {
      position: relative;
      padding-bottom: 50px;
      background-color: $white;
      .more {
        @include arrow-icon();
        i {
          color: $green;
        }
      }
    }
    header {
      @include header();
    }
    ul {
      padding: 5px;
    }

    li {
      width: 50%;
      float: right;
      padding: 5px;
      @include more-news();
    }
  }
}

/////////////////footer

footer {
  @include footer();
}
