@import url("./global.css");
@import "./varible.scss";
@import url("../node_modules/font-awesome/css/font-awesome.min.css");

@mixin clear {
  clear: both;
  display: block;
  content: "";
}

.main-header .top-menu {
  background-color: #a14c4c;
  padding: 3px 0;
}
///////////////////////////////////////////////// TIME
.time {
  font-family: vazir;
  text-align: center;
  color: #fff;
  margin: 20px 0;
  font-size: 1em;

  @media screen and(min-width:650px) {
    float: left;
    text-align: left;
    padding: 0 5px;
    width: 50%;
    font-size: 1em;
    margin: 0;
  }
}
///////////////////////////////////////////////// WEATHER
.weather {
  color: #fff;
  margin: 20px 0;
  font-size: 1em;
  text-align: center;
  

  @media screen and(min-width:650px) {
    padding: 2px 5px;
    margin: 0;
    float: right;
    text-align: right;
    width: 50%;
    font-size: 1em;
  }
  span {
    font-family: vazir;
  }
}
///////////////////////////////////////////////// SOCIAL
.social {
  text-align: center;
  a {
    color: #000;
    display: inline-block;
    font-size: 1.5em;
    padding: 7px 10px;
    @media screen and(min-width:650px) {
      text-align: left;
      padding: 7px 4px;
      font-size: 1.1em;
    }
  }
  @media screen and(min-width:650px) {
    text-align: left;
  }
}
///////////////////////////////////////////////// LOGO
.logo {
  text-align: center;
  border-top: 2px solid #f2f2f2;
  border-bottom: 2px solid #f2f2f2;
  a {
    padding: 20px 0;
    display: inline-block;
  }
  h1 {
    padding-top: 4px;
  }
}
///////////////////////////////////////////////// NORMAL - MENU
.normal-menu {
  @media screen and(max-width:850px) {
    display: none;
  }
  li {
    font-family: vazir-bold;
    display: inline-block;
    a {
      display: inline-block;
      padding: 7px 8px;
      font-size: 0.9em;
      color: rgb(136, 129, 129);
      i {
        color: #000;
      }
    }
  }
}
///////////////////////////////////////////////// RESPONSIVE - MENU
.responsive-menu {
  @media screen and(min-width:850px) {
    display: none;
  }
  .toggle-icon {
    background-color: #000;
    color: #fff;
    text-align: center;
  }
  i {
    font-size: 2em;
    padding: 7px;
    cursor: pointer;
  }
  ul {
    @media screen and(max-width:850px) {
      display: none;
      li {
        display: block;
        text-align: center;
        padding: 7px 0;
        font-size: 1.2em;
        i {
          font-size: 1.7em;
        }
      }
    }
  }
  li {
    font-family: vazir-bold;
    display: inline-block;
    a {
      display: inline-block;
      padding: 7px 8px;
      font-size: 0.9em;
      color: rgb(136, 129, 129);
      i {
        color: #000000;
      }
    }
  }
}
main {
  background-color: rgb(238, 237, 237);
}

///////////////////////////right
.pull-right {
  margin-top: $space-top;

  @media screen and(min-width:850px) {
    width: 60%;
    float: right;
  }
}

.first-news {
  padding-top: 10px;
  padding: $space-allside;
  background-color: #fff;
  border-top: 12px solid #000;
  a{
    display: block;
  }
  .container {
    position: relative;
  }
}
.first-news-img {
  @media screen and(min-width:650px) {
    width: 65%;
    float: right;
    padding-left: 10px;

  }
  @media screen and(min-width:950px) {
    width: 60%;
  }
}
.first-news-details {
  h3,P {
    padding: $space-md-bt;
  }
  
  time {
    background-color: red;
    color: #fff;
    padding: 5px;
    margin: $space-md-bt;
    display: inline-block;
  }

  @media screen and(min-width:650px) {
    width: 35%;
    float: left;
    time {
      font-size: 0.8em;
    }
    p {
      font-size: 0.9em;
    }
  }
  @media screen and(min-width:950px) {
    width: 40%;
    h3 {
      padding: $spcae-sm-tb;
    }
    p {
      padding: $spcae-sm-tb;
    }
    time {
      margin: $spcae-sm-tb;
    }
  }
}
///////////////////////////left
.pull-left {
  background-color: springgreen;

  @media screen and(min-width:850px) {
    width: 40%;
    float: left;
  }
}
//////////////////////////////top - news
.top-news {
  background-color: slateblue;
}
.main-top-news {
  background-color: slateblue;
  @media screen and(min-width:650px) {
    float: right;
    width: 60%;
  }
}
.top-news-more {
  @media screen and(min-width:650px) {
    float: left;
    width: 40%;
  }
}
.top-news-details {
  background-color: snow;
  @media screen and(min-width:650px) {
  }
}
//////////////////////////////more-news
.right-column {
  background-color: darkred;

  @media screen and(min-width:650px) {
    float: right;
    width: 43%;
  }
}
///////////////////mid
.mid-column {
  background-color: darkviolet;

  @media screen and(min-width:650px) {
    float: right;
    width: 57%;
  }

  @media screen and(min-width:850px) {
    float: left;
  }
}
.more-news::after {
  @include clear();
}

.more-news .container {
  width: 100%;
  float: right;

  @media screen and(min-width:850px) {
    width: 70%;
    float: right;
  }
}
/////////////////left
.left-column {
  background-color: gold;

  @media screen and(min-width:650px) {
    width: 100%;
  }

  @media screen and(min-width:850px) {
    width: 30%;
    float: left;
  }
}
