@import "./varible.scss";
@import "./global.scss";
@import "../node_modules/font-awesome/css/font-awesome.min.css";

.main-column {
  width: 100%;
  @media screen and (min-width: 850px) {
    width: 70%;
  }
}
.tags-header {
  width: 100%;
  margin-top: $space-top;
  background-color: #d4d4d4;
  display: inline-block;
  padding: $spcae-sm-tb;
}
.tags {
  ul {
    margin-top: $space-top;
    li {
      background-color: $white;
      padding: $space-allside-md;
      margin: $space-lg-bt;
    }
  }

  .tags-right {
    @media screen and (min-width: 650px) {
      width: 25%;
      float: right;
      padding-left: 5px;
    }
    @media screen and (min-width: 850px) {
      width: 30%;
    }
  }
  .tags-left {
    h4 {
      padding: 7px 0;
    }
    @media screen and (min-width: 650px) {
      width: 75%;
      float: left;
      padding-right: 5px;
    }
    @media screen and (min-width: 850px) {
      width: 70%;
      p {
        font-size: 0.8em;
      }
    }
  }
  .reload {
    display: block;
    text-align: center;
    background-color: $red;
    color: $white;
    padding: 10px 0;
  }
}
