$spcae-sm-tb: 7px;
$space-md-bt: 10px;
$space-lg-bt: 12px;
$space-top: 16px;
$space-allside: 10px;
//////colors
$white: #fff;
$black: #000;
$red: #b50000;
$green: #098b54;
$gray-border: #e6e6e6;
$gray-main: #eeeded;
$gray-nav: #888181;
$gray-text: #5f5f5f;
